# package directories
node_modules
jspm_packages

# Serverless directories
.serverless

# Secret directories
variables.env
config.dev.json
config.local.json

.DS_Store
private_usrmgmt.key
public_usrmgmt.key
